.authy {
	.container {
		max-width: 720px;
	}

	.left-block {
		background-image: url('../../assets/images/auth-bg.png');
		background-size: 100% 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-color: $custom-primary-purple;

		> div {
			width: 320px;

			@media (max-width: 768px) {
				width: 100%;
				padding-left: 32px;
				padding-right: 32px;
			}

			img {
				width: 56px;
				max-height: 100%;
			}

			.heading {
				margin-top: 64px;
				color: $custom-yellow;
				font-size: 16px;
			}

			ul {
				padding: 0;
				list-style-type: none;

				li {
					margin-top: 12px;

					p {
						margin: 0;

						&:first-child {
							color: $custom-pink-secondary;
							font-size: 11.5px;
						}

						&:last-child {
							color: $white;
							font-size: 9px;
						}
					}
				}
			}
		}
	}

	.authy-form {
		text-align: center;
		box-shadow: $box-shadow;
		padding: 42px 36px;

		.logo {
			text-align: center;
			width: 67px;

			img {
				width: 67px;
				max-height: 100%;
			}
		}

		h2 {
			color: $black;
			font-size: 16px;
		}

		.buttons {
			.btn {
				font-size: 10px;
				font-weight: 600;
				min-width: 120px;
			}

			.btn-custom-primary-purple {
				color: $white;
			}

			.btn-custom-light-purple {
				color: #a382d6;
			}
		}

		form {
			.input-group {
				.form-control {
					border-left: 0 none;
					padding-left: 0;

					&:not([name='password']) {
						border-top-right-radius: 0.375rem !important;
						border-bottom-right-radius: 0.375rem !important;
					}

					&[name='password'] {
						border-right: 0 none;
						border-radius: 0 !important;
					}
				}
			}

			.btn {
				font-size: 11px;
				font-weight: 500;
				padding: 8px 0;
				width: 100%;
			}
		}

		p {
			&.small {
				color: $custom-gray;
				font-size: 12px;

				a {
					color: $custom-pink;
					text-decoration: none;
				}
			}
		}
	}
}

.email-sent {
	figure {
		width: 220px;

		img {
			width: 220px;
			max-height: 100%;
		}
	}

	.sent-title {
		color: $custom-primary-purple;
		font-weight: 600;
		font-size: 16px;
		margin: 0;
	}

	.sent-description {
		color: $custom-gray;
		font-size: 10px;
	}

	.btn {
		font-size: 11px;
		font-weight: 500;
		padding: 8px 24px;
	}
}
