label {
	color: $custom-gray;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 4px;
}

.input-group-text {
	background-color: $form-bg-color;
	color: $form-icon-color;
	font-size: 12px;

	&.is-invalid {
		border-color: $red !important;
	}
}

.form-control {
	background-color: $form-bg-color;
	border-color: $custom-gray-2;
	color: $black;
	font-size: 0.85rem;

	&:focus {
		outline: none !important;
		box-shadow: none !important;
		background-color: $form-bg-color;
		border-color: $custom-gray-2;
	}

	&::placeholder {
		color: $custom-gray-2;
		font-size: 10px;
		font-weight: 500;
	}
}

.invalid-feedback {
	font-size: 0.75em;
}
