.loading-page {
	height: 360px;
}

.no-match {
	img {
		width: 13rem;
		max-height: 100%;
	}

	a {
		font-size: 14px;
		color: $custom-pink;
	}
}

.pointer {
	cursor: pointer;
}

.alert {
	font-size: 0.75rem;
	border-radius: 0 !important;
	border-bottom: 2px solid;
	border-top: 2px solid;
}