@mixin button-link {
	font-size: 11px;
	padding: 8px 25px;
	margin-top: 11px;
}

.socials {
	background-color: $custom-pink-tertiary;
	color: $custom-pink;
	font-size: 13px;
	font-weight: 600;
}

.profile-head {
	.avatar {
		width: 128px;

		img {
			overflow: hidden;
			border-radius: 50%;
			width: 128px;
			max-height: 100%;
		}

		div {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 22px;
			height: 22px;
			bottom: 16px;
			background-color: $custom-pink-tertiary;
			color: $custom-pink;
			font-size: 11px;
		}
	}

	h2 {
		color: $custom-primary-purple;
		font-size: 28px;
		margin-bottom: 4px;
	}

	p {
		color: $custom-gray;
		font-size: 12px;
		margin: 0;

		&.name {
			color: $custom-gray-1;
			font-size: 10px;
		}
	}
}

.setup {
	padding: 120px 0;

	p {
		margin: 0 auto;
		width: 140px;
		font-size: 14px;
		color: $custom-gray;
	}

	a.btn {
		@include button-link;
	}
}

.empty-list {
	padding: 45px 0;

	img {
		width: 220px;
		max-height: 100%;
	}

	.mini-block {
		width: 210px;

		p {
			margin: 0;

			&.fw-medium {
				font-size: 10px;
			}

			&.fw-semibold {
				font-size: 13px;
			}
		}
	}

	.btn {
		@include button-link;
	}
}

.song-list {
	padding: 45px 120px 60px;

	@media (max-width: 1024px) {
		padding: 45px 32px 60px;
	}

	h2 {
		font-size: 16px;
		text-align: center;
	}

	.song-block {
		&.grid {
			--bs-columns: 3;
			--bs-gap: 1.45rem;
		}

		@media (max-width: 768px) {
			--bs-columns: 2;
		}

		@media (max-width: 640px) {
			--bs-columns: 1;
		}

		.card {
			box-shadow: $box-shadow;
			border: 0 none;

			&.card-new {
				box-shadow: none !important;
				border: 1px dashed $custom-pink;
				border-radius: 16px;
				align-items: center;
				justify-content: center;
				height: 240px;
				margin-top: 30px;

				.btn {
					@include button-link;
					margin-top: 0 !important;
				}
			}

			.card-body {
				.star-rating {
					span {
						cursor: pointer;
						font-size: 9px;
						color: $custom-gray-2;
						margin-left: 1.5px;

						&:first-child {
							margin-left: 0;
						}

						&.checked {
							color: $custom-yellow;
						}
					}
				}

				.reviews {
					p {
						font-size: 9px;
						color: $custom-gray;
					}
				}

				a {
					&.share {
						font-size: 12px;
						color: $custom-gray;
						cursor: pointer;
					}
				}

				h5 {
					padding: 0;
					font-weight: 500;
					margin-bottom: 0;
					margin-top: 6px;

					a {
						color: $custom-gray;
						font-size: 12px;
						text-decoration: none;
					}
				}

				.card-text {
					a {
						color: $custom-gray;
						font-size: 10px;
						text-decoration: none;
					}
				}

				.players {
					&.grid {
						--bs-columns: 7;
						--bs-gap: 0.45rem;
					}

					a {
						display: flex;
						height: 12px;
					}

					img {
						max-height: 100%;
					}
				}
			}
		}
	}
}

.embed-block {
	max-width: 640px;

	.embed-item {
		background-color: $form-bg-color;
		padding: 80px 80px 20px;

		iframe {
			width: 100%;
		}
	}

	.rating-block {
		background-color: $form-bg-color;
		padding-bottom: 80px;
	}
}
